
.ant-table{
    border: 1px solid black !important;
    
}
.ant-table-row{
    border: 1px solid black;
    th{
        background: white;
        //border: 1px solid rgb(132, 132, 132);
        height: 10px;
        padding: 2px 11px;
       // text-align: center;
    }
}